<script type="text/javascript" src="/logout.js"></script>

<div id="footer" class="container" align="center">
	<% if (signup) { %>
		<a href="/" class="dlmsLink">Login to your existing account</a><br>
	<% } %>
	<% if (signin) { %>
		<a href="/signup" class="dlmsLink">Create a new account</a><br>
	<% } %>
	<h5><small>CIS 450 Final Project</small></h5>
</div>