<script type="text/javascript" src="logout.js"></script>

<div id="footer" class="container" align="center">
	<% if (signup) { %>
		<a href="/" class="dlmsLink">Login to your existing account</a>
	<% } %>
	<% if (signin) { %>
		<a href="/signup" class="dlmsLink">Create a new account</a>
	<% } %>
	<% if (login) { %>
		<button type="button" class="btn btn-link dlmsLink" id="logoutBtn">Logout</button>
	<% } %>
</div>