<% layout( 'layout' ) -%>

<link rel="stylesheet" type="text/css" href="color.css">
<script type="text/javascript" src="profile.js"></script>

<div class="container" align="center">
	<br>
	<p>Hello, <%= username %>! Your email address is <%= email %>.</p>
	<br><span id="getcolor" hidden><%= color %></span>
	<div class="bigcircle" id="circle1"><div class="colorcircle" id="cc1"></div></div>
	<div class="bigcircle" id="circle2"><div class="colorcircle" id="cc2"></div></div>
	<div class="bigcircle" id="circle3"><div class="colorcircle" id="cc3"></div></div>
	<div class="bigcircle" id="circle4"><div class="colorcircle" id="cc4"></div></div>
	<div class="bigcircle" id="circle5"><div class="colorcircle" id="cc5"></div></div>
	<div class="bigcircle" id="circle6"><div class="colorcircle" id="cc6"></div></div>
</div>