<% layout( 'layout' ) -%>

<div class="container" align="center">
	<br>
	<p>Use this to search through files.</p>
</div>
<br>
<div class="container" align="center">
	<input type="text" class="form-control" id="searchbar">
	<button id="searchbtn">Go</button>
</div>