<% layout( 'layout' ) -%>

<script src="/sigma.min.js"></script>
<script type="text/javascript" src="/search.js"></script>

<div class="container" align="center">
	<br>
	<p>Use this to search through files.</p>
</div>
<br>
<div class="container" align="center">
	<input type="text" class="form-control" id="searchbar">
	<button id="searchbtn">Go</button>
</div>
<div class="container" id="searchresults" style="height: 480px;"></div>