<% layout( 'layout' ) -%>

<script type="text/javascript" src="/create.js"></script>

<div class="container" align="center">
	<br>
	<input type="email" class="form-control outsideInput" id="emailInput" placeholder="Email Address">
	<br>
	<input type="username" class="form-control outsideInput" id="unInput" placeholder="Username">
	<br>
	<input type="password" class="form-control outsideInput" id="passwordInput" placeholder="Password">
	<br>
	<input type="password" class="form-control outsideInput" id="confirmPasswordInput" placeholder="Re-Type Password">
	<br>
	<button class="dlmsBtn" type="submit" id="createBtn">Create Account</button>
	<br><br>
	<span id="issue"></span>
</div>