<?xml version="1.0" encoding="UTF-8"?>
<breakfast_menu>
<food>
<name>Waffles</name>
<price>$5.95</price>
<calories>650</calories>
</food>
<food>
<name>Pancakes</name>
<price>$7.95</price>
<calories>900</calories>
</food>
<food>
<name>Hibiscus</name>
<price>$8.95</price>
<calories>900</calories>
</food>
<food>
<name>Toast</name>
<price>$4.50</price>
<calories>600</calories>
</food>
<food>
<name>Breakfast</name>
<price>$6.95</price>
<calories>950</calories>
</food>
</breakfast_menu>